.list {
    min-width: 320px;
    min-height: 500px;
    margin-top: 1em;
    padding: 0 0.5em;
    background-color: #fff;
    border: 1px solid #dce1e6;
    border-radius: 0.2em;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dce1e6;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    font-size: 0.9rem;
}

.list__remove-btn {
    border-radius: 100%;
    background-color: #dce1e6;
    padding: 0 0.3em;
    font-weight: 700;
    margin-left: 0.5em;
}

.list__remove-btn:hover {
    background-color: #bdc1c5;
}