.modal {
    display: none;
    width: 800px;
    height: 400px;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid black;
    z-index: 10;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.changeBtn {
    background-color: cornflowerblue;
    padding: 1em;
    font-size: 1rem;
    margin-top: 2em;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.hidden {
    display: none;
}

.isOpen {
    display: block;
}