.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

.search-bar__label {
    margin-right: 0.5em;
    font-size: 1rem;
}

.search-bar__input {
    display: block;
    outline: none;
    font-size: 1rem;
    border: 1px solid #b1b4b8;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
}
