.post {
    max-width: 580px;
    margin: 1em;
    padding: 0.5em 1em 1em;
    border: 1px solid #dce1e6;
    border-radius: 0.2em;
    background-color: #fff;
}

.post__title {
    font-size: 1.5rem;
    border-bottom: 1px solid #dce1e6;
    margin-bottom: 0.5em;
}

.post__new-comment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post__new-comment {
    outline: none;
    resize: none;
    width: 90%;
}

.comment-btn {
    background-color: var(--secondary-btn);
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
}

.comment-btn:hover {
    background-color: var(--primary-btn);
}

.disabled {
    opacity: 0.3;
}